
.rfa-input {
  // dimensions
  min-width: 200px;
  padding: 4px 20px 4px 10px;

  // borders
  border-radius: 3px;
  border: 1px solid #CAD5DF;

  //// placeholder
  //::placeholder, /* Chrome, Firefox, Opera, Safari 10.1+ */
  //:-ms-input-placeholder, /* Internet Explorer 10-11 */
  //::-ms-input-placeholder { /* Microsoft Edge */
  //    color: red;
  //    opacity: 1; /* Firefox */
  //}

  ::placeholder { /* Microsoft Edge */
    color: red;
    opacity: 1; /* Firefox */
  }


  // font
  color: #334857;
  font-family: "Helvetica Neue";
  font-size: 13px;
  line-height: 15px;

  &:focus {
    border-color: #0F436D;
    outline: none;
  }

  &:hover {
    border-color: #A5B5C4;
  }

  &.rfa-error {
    border-color: #DB6026;

    &:focus {
      border-color: #0F436D;
    }
  }

  &:disabled {
    background: lightblue;
    pointer-events: none;

    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer */
    -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
    -webkit-user-select: none; /* Chrome, Safari, and Opera */
  }

}
