<mat-sidenav-container class="side-nav-container">
  <mat-sidenav #sidenav mode="side" [opened]="true" class="sidenav">
    <div routerLink="simple-input">Simple Input</div>
    <div routerLink="form-group">Input in from Group</div>
    <div routerLink="form-validation">Form Validation</div>
  </mat-sidenav>

  <mat-sidenav-content class="content">
   <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
