<div>
  <form [formGroup]="inputFromGroup">
    <app-rfa-input formControlName="simpleInput" (change)="onChange($event)"></app-rfa-input>
  </form>

  <div>
    Disabled:
    <input type="checkbox" [checked]="inputDisabled" (change)="disabledChange($event)">
  </div>

  <div>
    <input type="button" value="Set Input Value" (click)="setControlValue()">
  </div>

</div>
