<div>
  <form [formGroup]="inputFromGroup">
    <input type="text" formControlName="simpleInput">
    <app-rfa-input formControlName="rfaInput" (change)="onChange($event)"></app-rfa-input>
  </form>


  <div>
    <h2>form:</h2>
    <span>is valid: {{inputFromGroup.valid}}</span><br>
    <span>errors: {{inputFromGroup.errors | json}}</span>
  </div>
  <br />
  <br />
  <div>
    <h2>control:simpleInput</h2>
    <span> is touched: {{simpleInput.touched}}</span><br />
    <span> is dirty: {{simpleInput.dirty}}</span><br />
    <span> is valid: {{simpleInput.valid}}</span><br />
    <span> errors: {{simpleInput.errors | json}}</span><br />
  </div>

  <div>
    <h2>control:rfaInput</h2>
    <span> is touched: {{rfaInput.touched}}</span><br />
    <span> is dirty: {{rfaInput.dirty}}</span><br />
    <span> is valid: {{rfaInput.valid}}</span><br />
    <span> errors: {{rfaInput.errors | json}}</span><br />
  </div>

</div>
